<div class="footer">
  <div class="footer-left">
    <span class="copyright">Person Manager© 2025 Person Manager. Todos os direitos reservados.</span>
  </div>
  <div class="footer-center">
    <button pButton pRipple icon="pi pi-facebook" class="p-button-rounded p-button-text"></button>
    <button pButton pRipple icon="pi pi-twitter" class="p-button-rounded p-button-text"></button>
    <button pButton pRipple icon="pi pi-linkedin" class="p-button-rounded p-button-text"></button>
    <button pButton pRipple icon="pi pi-instagram" class="p-button-rounded p-button-text"></button>
  </div>
  <div class="footer-right">
    <div class="links">
      <a href="/suporte"><i class="pi pi-question-circle"></i> Suporte</a>
      <a href="/termos"><i class="pi pi-file"></i> Termos</a>
      <a href="/privacidade"><i class="pi pi-shield"></i> Privacidade</a>
    </div>
    <span class="version">Versão 1.0.0</span>
  </div>
</div>